{% extends 'base.html.twig' %}

{% block title %}UK Dynasty{% endblock %}

{% block body %}
    <h2>Franchises</h2>

        {% for franchise in franchises %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('app_franchise_show', {'id': franchise.id}) }}">{{ franchise.name }}</a></h5>
                    <p class="card-text">{{ franchise.owner.name }}</p>
                    {% if franchise.latestSnapshot %}
                        <p>{{ franchise.latestSnapshot.bestLineupValue }} value best lineup</p>
                        {% include 'includes/_best-lineup.html.twig' with { players: franchise.latestSnapshot.bestLineup } %}
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    {{ franchise.players.count() }} players
                </div>
            </div>
        {% endfor %}
{% endblock %}
