{% extends 'base.html.twig' %}

{% block title %}UK Dynasty{% endblock %}

{% block body %}
    <h2>{{ franchise.name }}</h2>
    <h3>Owner: {{ franchise.owner.name }}</h3>
    {% for player in roster %}
    <a href="{{ path('app_player_show', {id: player.id}) }}">{{ player.name }}</a> <strong>{{ player.position.name }}</strong> - {{ player.value }}<br>
    {% endfor %}
    <h4>Snapshots</h4>
    {% for snapshot in franchise.snapshots %}
        {{ snapshot.date | date }}: Best lineup {{ snapshot.bestLineupValue }} (average {{ snapshot.bestLineupValueAverage }}), Roster {{ snapshot.rosterValue }} (average {{ snapshot.rosterValueAverage }})<br>
    {% endfor %}
{% endblock %}
